.warranty ul{
    list-style: none;
} 
.warranty li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #C2C2C2; /* Change the color */
    font-weight: 700; /* If you want it to be bold */
    font-size: 25px;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
     /* Also needed for space (tweak if needed) */
}