.linkdiv {
  display: flex;
  margin-top: 0;
  margin-right: -30px;
  justify-content: center;
  position: relative;
  background-color: white;
  border-bottom: 0.2px solid rgb(172, 171, 171);
}

.link {
  width: 121px;
  height: 100px;
  margin: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.card {
  margin: 10px;
  margin-bottom: 0;
  text-align: center;
}

.card :hover {
  color: #047bd5;
  cursor: pointer;
}
.desc {
  margin-top: 0;
  margin-left: 15px;
  color: rgb(77, 76, 76);
}

.desc:hover {
  color: #047bd5;
}
/* dropdown css for links on header div */
.dropdown {
  /* position: relative; */
  display: inline-block;
  text-align: left;
}

.dropbtn {
  color: black;
  border: none;
}

.dropdowncontent {
  display: none;
  position: absolute;
  margin-left: -100px;
  padding-left: 25px;
  background-color: white;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover > .dropdowncontent {
  display: block;
}
