.mainCard {
  display: flex;
  height: 250px;
  background-color: whitesmoke;
}

.card {
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: yellow;
  height: 100px;
  width: 436px;
}

.card:hover {
  cursor: pointer;
}
