.linkdiv {
    display: flex;
    border-bottom: 1px solid grey;
    margin-top: 0;
  }
  
  .link {
    width: 120px;
    height: 100px;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .desc {
    margin-top: 0;
    margin-left: 10px;
    color: rgb(77, 76, 76);
  }
  
  .desc:hover {
    color: #047bd5;
  }
  