.main {
  display: flex;
}

.outerDiv {
  margin-left: 5%;
  width: 60%;
  border: 1px solid red;
  background-color: #fff;
}

.login {
  border: 1px solid blue;
  padding: 10px 20px;
  height: 50px;
  text-align: left;
  color: white;
  background-color: blue;
  font-weight: 500px;
}
.formDiv {
  border: 1px solid blue;
  padding: 15px 25px;
}
.inp {
  outline: none;
  padding: 2px;
  margin: 20px auto 20px;
  border: none;
  width: 350px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.para {
  font-size: 12px;
}
