.main {
  display: flex;
  margin-top: 20px;
}

.outerDiv {
  margin-left: 5%;
  width: 76%;
  background-color: #fff;
}

.login {
  padding: 15px 20px;
  text-align: left;
  color: white;
  font-weight: 800;
  background-color: #2874f0;
  border-bottom: 1px solid lightgray;
}

.login > h6 {
  font-weight: 600;
}

.loginSpan {
  font-size: 16px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e8eaec;
  color: #2874f0;
  border-radius: 4px;
}

.formDiv {
  margin-left: 30px;
  margin-right: 10px;
}
.inp {
  outline: none;
  padding: 2px;
  margin: 25px auto 20px;
  border: none;
  width: 300px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.para {
  font-size: 13px;
  color: gray;
}

button[type="submit"] {
  width: 300px;
  margin: 5px auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #fb641b;
  cursor: pointer;
  outline: none;
  border: none;
}
/* right blank div after login page  */
.rightDiv {
  margin-top: 30px;
  margin-left: 40px;
  display: flex;
}

.divs {
  margin-top: 20px;
  margin-left: 68px;
  justify-content: center;
  background-color: #fff;
  color: grey;
}

.divs > span {
  background-color: #e8eaec;
}
/* css - user details div after login  */

.userDetails {
  color: black;
  width: 800px;
  font-weight: 500;
  margin-left: 60px;
}

.changeButton {
  border: 1px solid lightgray;
  height: 40px;
  width: 120px;
  color: #2874f0;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.addressLabel {
  width: 90%;
  margin-left: 15px;
}
